{% extends 'hospital/homebase.html' %}


{% block content %}

<br>
<br>
<center>
  <div class="jumbotron" style="margin-bottom:0px;">
    <h1 class="display-4" style="text-align:center;">Hello, Doctor</h1>
    <p class="lead">Welcome to Hospital Management System.</p>
    
    <p>You can access various features after Login/SignUp.</p>
    <p class="lead">
      <a class="btn btn-primary" href="{% url 'doctorsignup' %}" role="button">Apply</a>
      <a class="btn btn-primary" href="{% url 'doctorlogin' %}" role="button">Login</a>
    </p>
  </div>
  <br><br>
</center>

{% endblock content %}
