<!DOCTYPE html>
<html>

<head>

</head>

<footer id="footer" class="footer light-background">

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 footer-about">
        <a href="{% url 'home' %}" class="logo d-flex align-items-center">
          <span class="sitename">Medilab</span>
        </a>
        <div class="footer-contact pt-3">
          <p>Luthuli Avenue</p>
          <p>Nairobi</p>
          <p class="mt-3"><strong>Phone:</strong> <span>+254714442664</span></p>
          <p><strong>Email:</strong> <span>lesmwendwa@gmail.com</span></p>
        </div>
        <div class="social-links d-flex mt-4">
          <a href="https://www.x.com/lesmadeit"><i class="bi bi-twitter-x"></i></a>
          <a href="https://www.facebook.com/youngleslee"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/lesmadeit"><i class="bi bi-instagram"></i></a>
          <a href="https://www.linkedin.com/in/leslie-mwendwa-82109a22b/"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'admin' %}">Admin</a></li>
          <li><a href="{% url 'doctor' %}">Doctor</a></li>
          <li><a href="{% url 'patient' %}">Patient</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Our Services</h4>
        <ul>
          <li>Comprehensive Primary Care</li>
          <li>Advanced Surgical Services</li>
          <li>Emergency and Trauma Care </li>
          <li>Women’s Health Services</li>
          <li>Pediatrics and Childcare</li>
        </ul>
      </div>


      

    </div>
  </div>>

</footer>


</html>
