<!DOCTYPE html>
{% load static %}
<html lang="en">
<body class="index-page">
  <header id="header" class="header sticky-top">

    <div class="topbar d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:lesmwendwa@gmail.com">lesmwendwa@gmail.com</a></i>
          <i class="bi bi-phone d-flex align-items-center ms-4"><span>+254714442664</span></i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
          <a href="https://www.x.com/lesmadeit" class="twitter"><i class="bi bi-twitter-x"></i></a>
          <a href="https://www.facebook.com/youngleslee" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/lesmadeit" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="https://www.linkedin.com/in/leslie-mwendwa-82109a22b/" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div><!-- End Top Bar -->

    <div class="branding d-flex align-items-center">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="{% url 'home' %}" class="logo d-flex align-items-center me-auto">
          <h1 class="sitename">Medicare</h1>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a></li>
            <li class="dropdown" ><a href="{% url 'admin' %}"><span>Admin</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="{% url 'adminsignup' %}">Sign Up</a></li>
                <li><a href="{% url 'adminlogin' %}">Log In</a></li>
              </ul>
            </li>
            <li class="dropdown" ><a href="{% url 'doctor' %}"><span>Doctor</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="{% url 'doctorsignup' %}">Sign Up</a></li>
                <li><a href="{% url 'doctorlogin' %}">Log In</a></li>
              </ul>
            </li>
            <li class="dropdown" ><a href="{% url 'doctor' %}"><span>Patient</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="{% url 'patientsignup' %}">Sign Up</a></li>
                <li><a href="{% url 'patientlogin' %}">Log In</a></li>
              </ul>
            </li>
            <li><a href="{% url 'about' %}" class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">About Us</a></li>
            
            <li><a href="{% url 'contact' %}" class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}">Contact</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
          
        </nav>
      </div><!-- Scroll Top -->
      <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
      
      <!-- Preloader -->
      <div id="preloader"></div>
      

    </div>
  </header>
  
</body>

</html>
